#!/bin/sh
# File: pg_backup_dump.ksh
#
# This script runs pg_dump for each database on the server
#
# History:
#
# Date       Author       Comments
# ---------- ------------ ----------------------------------------------
# 18/08/2017 KLewandowski Created
# ----------------------------------------------------------------------
#

# /postgres/backup

PGTAB=/etc/pgtab
BASE_PATH=/usr/lib64/qt-3.3/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:$PATH:$HOME/.local/bin:$HOME/bin
BACKUP_BASE_DIR={{ postgresql_backupvg_mountpoint_prefix }}

typeset -i BDAYS

for line in $(awk ' $1!~ /[#*]/ {print $1} ' $PGTAB | sed '/^$/d' | cut -d: -f1,2,3,4 | grep -v ':dummy')
do
  if [ -n "$line" ]
  then
    export PGDATABASE=`echo $line |cut -d: -f1`
    export PGHOME=`echo $line |cut -d: -f2`
    export PATH=$BASE_PATH:${PGHOME}/bin
    export PGDATA=`echo $line |cut -d: -f3`
    export PGPORT=`echo $line |cut -d: -f4`

    RCALL=0

    mkdir -p $BACKUP_BASE_DIR/$PGDATABASE

    BACKUP_DIR=$BACKUP_BASE_DIR/$PGDATABASE
    BACKUP_LOG=$BACKUP_DIR/pg_backup_dump.log
    BACKUP_RCFILE=$BACKUP_DIR/pg_backup_dump.rc
    BACKUP_GLOBALS_FILE=$BACKUP_DIR/$(hostname).globals-only.dump.$(date +%Y%m%d_%H%M%S)

    if [ $(ps -eaf | grep "postgres: ${PGDATABASE}: writer process" | grep -v grep | wc -l) -gt 0 ]
    then
      # remove old backups
      if [ $# -gt 0 ]
      then
        BDAYS=$1
        find $BACKUP_DIR -maxdepth 1 -name "$(hostname)*.dump.*" -mtime +${BDAYS} -exec rm -f {} \;
      else
        find $BACKUP_DIR -maxdepth 1 -name "$(hostname)*.dump.*" -exec rm -f {} \;
      fi

      # dump globals
      echo "[`date +'%Y.%m.%d %T'`] $0 started..." > $BACKUP_LOG
      $PGHOME/bin/pg_dumpall -w --globals-only > $BACKUP_GLOBALS_FILE 
      RCALL=$?

      DBLIST=`$PGHOME/bin/psql -X -q -t postgres <<! | tr -d '[\n]' 2>/dev/null
SELECT datname FROM pg_database where datname not in ('postgres','template0','template1');
!`

      echo "cluster: $PGDATABASE - databases: $DBLIST"
      for DBNAME in $DBLIST
      do
        $PGHOME/bin/pg_dump -f $BACKUP_DIR/$(hostname).${DBNAME}.dump.$(date +%Y%m%d_%H%M%S) -Fc -Z9 -w $DBNAME >> $BACKUP_LOG 2>&1
        RC=$?
        if [ $RC -ne 0 ]
        then
          RCALL=1
        fi
      done

      echo ls -ltr $BACKUP_DIR >> $BACKUP_LOG 2>&1
      ls -ltr $BACKUP_DIR >> $BACKUP_LOG 2>&1
      echo [`date +'%Y.%m.%d %T'`] $0 completed >> $BACKUP_LOG
      echo $RCALL > $BACKUP_RCFILE
    fi
  fi
done

